@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  boxsizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-weight: 400;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.all-unset {
  all: unset;
}

.inner-focus-group:focus-within {
  box-shadow:
    inset 0 0 0 2px #ffffff,
    inset 0 0 0 3px #3b82f6;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.truncate-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
